body{
    margin: 0;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

h1{
    margin-top: 0;
    padding-top: 100px;
    font-family: 'Lobster', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.Top{
    background-color: #FFE7CC;
    position: relative;
    padding-top: 100px;
}

.Middle{
    padding-top: 100px;
}

.Bottom{
    padding-top: 100px;
}

.developer-info{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.img-background{
    padding-top: 100px;
}

.profile-image{
    position: relative;
    top: 50px;
    width: 200px;
    border-radius: 200px;
}

.contact-me{
    padding-top: 100px;
}